<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center; color: brown;">
            Breakfast
        </h1>
    </div>
</div><div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Ackee and saltfish</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Aloo paratha</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bacon</h4>
           
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bagel</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Banana Bread</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Baked Beans</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bharki</h4>
            
           
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">BreadFruit</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Sandwich</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Cereal</h4>
            
            
        </div>
    </div>
</div>

<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Coffee Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Cottage Cheese</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Egg</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Dosa</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Idly</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Fried Bread</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Facturas</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Fried egg</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Gogli</h4>
            
            
        </div>
    </div>
</div>


<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Ham</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Ham and Egg</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Hash</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Home Fries</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Instant BreakFast</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Lox</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Milk Toast</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Maypo</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Roti prata</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Scrambled Egg</h4>
            
        </div>
    </div>
</div>