
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');


.row {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight: bolder;
    padding-left: 50px;
    
  }

  .rows{
    
    height: auto;
     background-color: rgb(255, 255, 255);
     margin: 0px 12.5%;
     padding-bottom: 50px;
     box-shadow: 1px 1px 16px rgb(0 0 0 / 30%);
  }
 