
    
   
    <div class="rows">
        <img src="assets\about_us.jpg" style="width: 100%; height: 250px;">
        <div class="bottom-left"><p style="font-size: 80px;">About us</p></div>
    </div>
    
<section id = "about_us">
    <h1>A NETWORK OF SUCCESS</h1>
    <p>​​The Indian Cuisine is as diverse as its culture, languages, regions and its climate. Every major region of India brings its own unique dishes and subtle variations to popular dishes. Aromatic Spices are the essence of Indian cuisine. <br>
        This is the unique formula, we at Saravanaa Bhavan, chain of Indian vegetarian restaurants follow, to build our businesses across the globe. <br>
        Each new restaurant added to our network carries the legacy of good taste and quality. The trust that the customers have placed in us has been a motivating factor in exploring new destinations. <br>
        Today, the group has its presence across 38 outlets in South India, 3 in the North and 28 countries with 90 outlets across the globe. <br>
        We ensure our customers are our strength and make them feel at home when they are with us. An outlet to be great with friends or all by yourself. <br>
        You can eat in, take it to go, or have it catered right to you. The feeling is friendly and the food is fabulous. Whenever you need it, wherever you need it, it is your own unique world to eat out. <br>
        Our services include Fast Food, Take Away, Home Delivery, Outdoor Catering, Party Orders and more. <br>
        We started our First outlet in 1981, and have established a reputation for AUTHENTIC INDIAN VEGETARIAN Cuisine,among Indian Expats,and clients of other race including Japanese, Chinese, Caucasians, amona others. <br></p> <br>
</section>


<section id="historys">
    <h1>HISTORY</h1>
    <p>​​The Indian Cuisine is as diverse as its culture, languages, regions and its climate. Every major region of India brings its own unique dishes and subtle variations to popular dishes. Aromatic Spices are the essence of Indian cuisine. <br>
        This is the unique formula, we at Saravanaa Bhavan, chain of Indian vegetarian restaurants follow, to build our businesses across the globe. <br>
        Each new restaurant added to our network carries the legacy of good taste and quality. The trust that the customers have placed in us has been a motivating factor in exploring new destinations. <br>
        Today, the group has its presence across 38 outlets in South India, 3 in the North and 28 countries with 90 outlets across the globe. <br>
        We ensure our customers are our strength and make them feel at home when they are with us. An outlet to be great with friends or all by yourself. <br>
        You can eat in, take it to go, or have it catered right to you. The feeling is friendly and the food is fabulous. Whenever you need it, wherever you need it, it is your own unique world to eat out. <br>
        Our services include Fast Food, Take Away, Home Delivery, Outdoor Catering, Party Orders and more. <br>
        We started our First outlet in 1981, and have established a reputation for AUTHENTIC INDIAN VEGETARIAN Cuisine,among Indian Expats,and clients of other race including Japanese, Chinese, Caucasians, amona others. <br></p> <br>
</section>
<section id="goals_and_acheivements">
    <h1>AWARDS</h1>
    <div>
        <table  border="2" align="center" id = "customers" >
            <thead>
                <th>S.NO</th>
                <th>Year</th>
                <th>AWARD</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020</td>
                    <td>Best Chef</td>
                </tr>
            </tbody>
            <!--<tbody *ngFor = 'let i of award_list'>
                <td>{{i.sno}}</td>
                <td>{{i.year}}</td>
                <td>{{i.award}}</td>
            </tbody> -->
        </table>
    </div></section>
<section id="management">
    
    <h1>BRANCHES</h1>
    
    <div class="card-group">
        <div class="card">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F8f%2Fa0%2Fa9%2F8fa0a9375237dad327b3e52a16d6d1be.png&f=1&nofb=1" class="card-img-top" alt="...">
          
        </div>
        <div class="card">
          <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-zhTo-SJfbAk%2FVKeQz-UQEXI%2FAAAAAAAAB_E%2FQ2sg5vn2o88%2Fs1600%2FLogo_saravana.jpg&f=1&nofb=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chennai</h5>
            <p class="card-text">1/1/2, Mandavalli Street,<br>
                Mandavelipakkam, Anna Nagar,<br>
                Chennai, 600028, Tamil Nadu, India.</p>
          </div>
        </div>
        <div class="card">
          <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-zhTo-SJfbAk%2FVKeQz-UQEXI%2FAAAAAAAAB_E%2FQ2sg5vn2o88%2Fs1600%2FLogo_saravana.jpg&f=1&nofb=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chennai</h5>
            <p class="card-text">1/1/2, Mandavalli Street,<br>
                Mandavelipakkam, Anna Nagar,<br>
                Chennai, 600028, Tamil Nadu, India.</p>
          </div>
        </div>
        
        <div class="card">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-zhTo-SJfbAk%2FVKeQz-UQEXI%2FAAAAAAAAB_E%2FQ2sg5vn2o88%2Fs1600%2FLogo_saravana.jpg&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chennai</h5>
                <p class="card-text">1/1/2, Mandavalli Street,<br>
                    Mandavelipakkam, Anna Nagar,<br>
                    Chennai, 600028, Tamil Nadu, India.</p>
            </div>
          </div>
      </div>
        
        
    
</section>
<br>


