<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center; color: brown;">
            Dinner
        </h1>
    </div>
</div><div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
           
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
    </div>
</div>

<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
    </div>
</div>


<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Pan-Cake</h4>
            
        </div>
    </div>
</div>