<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center; color: brown;">
            Desert
        </h1>
    </div>
</div><div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Aam papad</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Aappam</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Ada</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Anarsa</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Baingan bharta</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Banana chips</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Basundi</h4>
            
           
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Batata vada</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bhajia</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bhelpuri</h4>
            
            
        </div>
    </div>
</div>

<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bhoonja</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bikaneri bhujia</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bonda</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Boondi</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bhurji- Egg</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Bhurji- Paneer</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Chaat</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Chakli/chakodi	</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Chana Jor Garam</h4>
            
            
        </div>
        <div class="divsub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-size: medium; font-weight: bold;">Chapati</h4>
            
            
        </div>
    </div>
</div>

